body {
	font-family: Helvetica, Arial, sans-serif;
	color: black;
}
a {
	color: inherit;
	text-decoration: none;
}
pre.cake-debug {
	background: skyblue;
	padding: 25px;
}

.rounded {
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


/**Basic Layout [default]**/
div#header {
	background: #eee;
	border-bottom: solid thin black;
	padding: 5px 15px;
}
h2#logo {	
	font-size: 36px;
	float: left;

}
h3#tagline {
	display: inline;	
	background: royalblue;	
	margin-left: 5px;
	line-height: 40px;
	padding: 5px 10px;
	color: white;
}
div.actions {
	margin: 35px 15px;
}
div.actions h3 {
	display: none;
	float: left;
	padding: 8px;
	background: royalblue;
	border: solid thin black;	
}
div.actions li {
	display: inline;	
}
div.actions li a {
	text-decoration: none;

}
.dynamicActions {
	margin-left: 42px;
	padding: 15px;
	font-size: 25px;
	margin-bottom: 75px;
}
div#footer {
	margin-top: 300px;
	padding: 50px;
	min-height: 150px;
	background: #333;
}
/**Pseudo Drop down**/
div.actions ul  {
	margin-left: 45px;
	background: purple;
}
div.actions ul li {
	background: black;
	width: 200px
}
div.actions ul li {
	position: absolute;
	background: #EEE;
	padding: 5px;
	cursor: pointer;
}
div.actions ul li:hover {
	background-color: royalblue;
	color: white;
}
div.actions ul li a {
	cursor: pointer;
	color: inherit;
}
li.nada {
	border: solid thin #CCC;
	font-size: 0.8em;

}

/**End Pseudo Drop down**/

/**Table Stuff**/
div.index {
	margin: auto;
	margin-top: 50px;
	width: 90%;
}
div.index h2:first-child,
div.index legend {
	font-size: 36px;
	letter-spacing: 2px;
	font-weight: bold;
	background: #333;
	padding: 15px;
	color:white;	
	
}

div.index legend {
	width: 100%;
}
fieldset div {
	width: 100%;
}
table {
	width: 100%;
}
th {
	padding: 15px;
	background: #333;
	border-top: solid thin #777;
	border-bottom: solid thin white;	
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 0.8em;
}
th a {
	text-decoration: none;
	color: white;	
}
td {
	padding: 15px;
	background: #EEE;
	border: solid thin white;
	overflow: hidden; /**Need for submit button overflow**/
}
p {
	font-size: 0.75em;
	padding: 50px 15px 15px;
	background: #EEE;
}
div.paging {
	padding: 0px 15px 15px;
	background: #EEE;
	margin: 0 0 0 0;	
}

div.input,
div.submit {
	padding: 15px;
	clear: both;
	margin: 1px;	
	background: #eee;
}
div.submit {
	width: 100%;
}
.index label {
	padding: 5px 15px;
	float: left;
	text-align: left;
	width: 100px;
	border-right: solid thick gray;
	margin-right: 3px;
}

fieldset {
	padding: 0 0 0 0;
	background: white;
	border: none;
	margin: 0 0 0 0;
	overflow: hidden;
}
table.dynamic td {
	border: solid thin blue;
	background: orange;
}
/**END Table Stuff**/
