<?php 
   echo $this->Html->css('builder/terminal');
   echo $this->Html->script('builder/terminal');
?>
<div class="index">
<?php echo $this->Form->button('Make Application');?>
<div id="terminal">
<ul id="lines">

</ul>
</div>



</div>